@import './utils/normalaze';
@import './utils/root';
@import './utils/base';
@import './utils/visually-hidden';
@import './components/logo';
@import './components/header';
@import './components/basic__title';
@import './components/hero';
@import './components/button';
@import './components/benefits';
@import './components/activities';
@import'./components/_icon';
@import'./components/team';
@import './components/clients';
@import './components/footer';
@import './components/backdrop';
@import './components/modal';
@import './components/checkbox';
@import './components/projects';
@import'./components/is-hidden';






