.activities{
    padding-top: 94px;
    padding-bottom: 94px;
    &__item{
        display: flex;
        margin: 0;
    }
    &__link{
        position: relative;

        & + &{
        margin-left: 30px;}
    }
    &__text{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        font-weight: 700;
        font-size: 14px;
        line-height: 1.2;
        color: #FFFFFF;
        text-transform:uppercase;
        width: 100%;
        padding-bottom: 28px;
        padding-top: 28px;
        background: rgba(47, 48, 58, 0.8);
        display: flex;
        justify-content: center;
    }
}

