.projects{
    padding-top: 94px;
    padding-bottom: 94px;
    &__contaner{
    display: flex;
    flex-wrap: wrap;
    margin: -15px -15px 0px -15px;}
    &__item{
    position: relative;
    border: 1px solid #EEEEEE;
    margin: 15px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:nth-child(3n+3){
        margin-right: 0;}
    &:hover,&:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
    &:hover .projects__text{
        transform: translateY(0);}
    }
    &__img{
        position: relative;
        width:370px;
        height: 294px;
        overflow: hidden;
    }
    &__text{
        position: absolute;
        background-color: rgba(33, 150, 243, 0.9);;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 63px 24px;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.55;
        color: #EEEEEE;
        transform: translateY(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    &__contanet{
        position: relative;
        width: 100%;
        bottom: 0;
        padding-top: 20px;
        padding-left: 24px;
        padding-bottom: 20px;
    }
    &__title{
        color: var(--title-color);
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
        margin: 0;
        padding-bottom: 4px;
    }
    &__type{
        color: var(--paragraph-color);
        font-weight: 400;
        font-size: 16px;
        line-height: 1.88;
        letter-spacing: 0.03em;
        margin: 0;
    }
}
