.team{
    background-color: #F5F4FA;
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    padding-top: 94px;
    padding-bottom: 94px;
    &__container{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    &__item{
        background-color: #FFFFFF;
    }
    &__container{
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    &__item{
        background-color: #FFFFFF;
        & +&{
            margin-left: 30px;
        }
    }
    &__content{
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__title{
        color: var(--title-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        margin: 0;
        margin-bottom: 10px;
    }
    &__link{
        display: flex;
        justify-content:center;
    }
    &__content{
        padding-top: 30px;
        padding-bottom: 30px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
    &__title{
        color: var(--title-color);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        margin: 0;
        margin-bottom: 10px;
    }
    &__link{
        display: flex;
        justify-content:center;
    } 
}


