ul{
    padding-inline-start:0px;}

.contaner{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
}
ul {
    list-style: none;
}
body{ 
    font-family: 'Roboto', sans-serif;
    color: var(--paragraph-color);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;
}